* {
  box-sizing: border-box;
}

#sudoku-grid {
  display: grid;
  grid-template-columns: repeat(9, auto);
  justify-content: center;
  align-items: center;
  align-content: center;
}

.cell-holder {
  position: relative;
  width: 50px;
  height: 50px;
  /* border: 3px solid green; */
}

.note-label {
  position: absolute;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
  left: 40%;
  top: 5%;
  z-index: -1;
}

.n1 {
  left: 10%;
  top: 5%;
}
.n2 {
  left: 40%;
  top: 5%;
}
.n3 {
  left: 75%;
  top: 5%;
}
.n4 {
  left: 10%;
  top: 35%;
}
.n5 {
  left: 40%;
  top: 35%;
}
.n6 {
  left: 75%;
  top: 35%;
}
.n7 {
  left: 10%;
  top: 65%;
}
.n8 {
  left: 40%;
  top: 65%;
}
.n9 {
  left: 75%;
  top: 65%;
}
/* left: 10%, 40%, 80% */
/* top: 5%, 35%, 65% */

.cell {
  display: flex;
  background: transparent;
  width: 50px;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-items: center;
  font-size: 35px;
  text-align: center;
  caret-color: transparent;
}

.top {
  border-top: 3px solid black;
}

.left {
  border-left: 3px solid black;
}

.right {
  border-right: 3px solid black;
}

.bottom {
  border-bottom: 3px solid black;
}

.settings-container {
  display: flex;
  margin: 35px 0;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.button-create-board,
.button-solution,
.button-clear,
.button-undo,
.button-notes {
  height: 60px;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  background-color: green;
  border: 3px solid black;
}

.button-create-board {
  margin-right: 12px;
}

.button-notes {
  position: relative;
  background-color: blue;
  margin-right: 10px;
}

.on-tooltip {
  position: absolute;
  font-size: 13px;
  font-weight: bold;
  padding: 7px 7px;
  color: blue;
  background-color: white;
  border-radius: 20px;
  border: 1px solid blue;
  left: -15px;
  top: -15px;
}

.button-solution {
  background-color: red;
}

.button-undo {
  background-color: yellow;
  margin-right: 10px;
}

.button-clear {
  background-color: gray;
  margin-right: 10px;
}

button:active {
  opacity: 0.7;
}

.switch-label {
  margin-left: 20px;
  margin-right: 10px;
  font-size: 20px;
  font-weight: bold;
}

/* .slider-container {
  border: 2px solid black;
} */

.flex-container {
  display: flex;
  align-items: center;
  margin: 5px 20px;
}

.slider {
  background: red;
}
